@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    margin: 0;
    background: linear-gradient(40deg, rgba(224,120,133,1) 0%, rgba(96,81,148,1) 100%);
    font-family: Roboto;
}

p, h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    font-weight: 100;
    user-select: none;
}

h1 {
    font-size: 40px;
}

h2 {
    margin: 20px 0;
}

.common-parapraph {
    font-size: 12px;
    line-height: 17px;
    margin-top: 25px;
}

.big-paragraph {
    font-size: 15px;
    text-align: center;
}

.common-button {
    border: 1px solid rgba(128, 128, 128, 0.489);
    border-radius: 4px;
    width: fit-content;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background-color: rgba(128, 128, 128, 0.151);
        border: solid 1px transparent;
    }

    &.blue {
        background-color: rgb(139, 201, 240);
        color: white;
        border: solid 1px transparent;

        &:hover {
            background-color: rgba(81, 98, 182, 0.995);
        }
    }
}

.line {
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
    background: linear-gradient(38deg, rgba(224, 120, 132, 0.597) 0%, rgba(133, 100, 157, 0.57) 48%, rgba(111, 245, 255, 0.542) 100%);
}