<div class="content">
    <div class="content-nav">
        <div class="content-nav-button active">Introduction</div>
        <div class="content-nav-button">First Section</div>
        <div class="content-nav-button">Second Section</div>
        <div class="content-nav-button">Get started</div>
    </div>
    <div class="content-section">
        <div>
            <h2>Lorem ipsum dolor</h2>
            <div class="line"></div>
            <p class="common-parapraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="common-button">Learn More</div>
        </div>        
        <div class="circle">
            <div class="outer">
                <div class="inner"></div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h2>Lorem ipsum dolor</h2>
        <div class="line"></div>
        <div class="content-item first">
            <div class="medium-circle-outer">
                <div class="medium-circle-inner">
                    <i class="material-icons">cloud</i>
                </div>
            </div>
            <p class="big-paragraph content-item-header">Lorem ipsum dolor sit</p>
            <p class="common-parapraph content-item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="content-item second">
            <div class="medium-circle-outer">
                <div class="medium-circle-inner">
                    <i class="material-icons">cloud</i>
                </div>
            </div>
            <p class="big-paragraph content-item-header">Lorem ipsum dolor</p>
            <p class="common-parapraph content-item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="content-item third">
            <div class="medium-circle-outer">
                <div class="medium-circle-inner">
                    <i class="material-icons">cloud</i>
                </div>
            </div>
            <p class="big-paragraph content-item-header">Lorem ipsum</p>
            <p class="common-parapraph content-item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="common-button">Learn More</div>
    </div>
    <div class="content-section">
        <h2>Lorem ipsum dolor</h2>
        <div class="line"></div>
        <p class="big-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        <div class="rainbow-item first">
            <i class="material-icons">cloud</i>
            <p class="rainbow-item-number">5,123</p>
            <p class="rainbow-item-name">Etiam</p>
        </div>
        <div class="rainbow-item second">
            <i class="material-icons">cloud</i>
            <p class="rainbow-item-number">5,123</p>
            <p class="rainbow-item-name">Etiam</p>
        </div>
        <div class="rainbow-item third">
            <i class="material-icons">cloud</i>
            <p class="rainbow-item-number">5,123</p>
            <p class="rainbow-item-name">Etiam</p>
        </div>
        <div class="rainbow-item fourth">
            <i class="material-icons">cloud</i>
            <p class="rainbow-item-number">5,123</p>
            <p class="rainbow-item-name">Etiam</p>
        </div>
        <div class="rainbow-item fifth">
            <i class="material-icons">cloud</i>
            <p class="rainbow-item-number">5,123</p>
            <p class="rainbow-item-name">Etiam</p>
        </div>
        <div class="paragraph-group">
            <p class="common-parapraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="common-parapraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="common-button">Learn More</div>
    </div>
    <div class="content-section">
        <h2>Lorem ipsum dolor</h2>
        <div class="line"></div>
        <p class="big-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        <div class="button-group">
            <div class="common-button blue">Get Started</div>
            <div class="common-button">Learn More</div>
        </div>
    </div>
</div>