<div class="footer">
    <div class="info">
        <div class="block">
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco dolor in reprehenderit in voluptate</p>
            <div class="common-button">Learn More</div>
        </div>
        <div class="block">
            <h4>Lorem ipsum dolor</h4>
            <div class="block-grid">
                <div class="column">
                    <p>Address</p>
                    <p>Phone</p>
                    <p>Email</p>
                </div>
                <div class="column">
                    <p>123 Somewhere Road, Neverland Belarus</p>
                    <p>(111) 111-11-11</p>
                    <p>someemail@mail.com</p>
                </div>
            </div>
            <div class="circle-buttons-group">
                <div class="circle-button">
                    <i class="material-icons">cloud</i>
                </div>
                <div class="circle-button">
                    <i class="material-icons">cloud</i>
                </div>
                <div class="circle-button">
                    <i class="material-icons">cloud</i>
                </div>
                <div class="circle-button">
                    <i class="material-icons">cloud</i>
                </div>
                <div class="circle-button">
                    <i class="material-icons">cloud</i>
                </div>
            </div>
        </div>
    </div>
    <p class="ending">Untitled. Design: HTML5 UP</p>
</div>